*{
    overflow: hidden;
}
.main{
    display: block;
    padding: 0%;
}
header{
    display: block;
    position: sticky;
}
nav{
    right: 0%;

}
nav a{
    font-size: 1.5rem;
}
.flex{
    width: 94%;
}
.text{
    font-size: large;
}
.docimage{
    margin-left: 23px;
}
img.boximage {
    height: 300px;
    width: 350px;
}